<html>

<head>
<title>Signup</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href = 'public/assets/styles.css' rel='stylesheet' type =  'text/css'>

<script language="JavaScript" type="text/javascript" src="/controllers/loginController.js"></script>
<script language="JavaScript" type="text/javascript" src="/public/assets/login.js"></script>

</head>

<body>
    <section>
    <div>
<form id = 'myForm'> 
    <input type = 'text', name = 'username', id = 'username', placeholder = 'Username'>
    <input type = 'password', name = 'password', id = 'password' placeholder = 'Password'>
    
    
    <div>
    <button type= 'submit'>
    Login
    </button>
</div>

</form>

</div>
</section>
<section>
<div>
<p>Don't have an account?</p>
<br>
<a href='/signup'>Signup</a>
</div>
</section>



<script language="JavaScript" type="text/javascript" src="/controllers/loginController.js"></script>
</body>
</html>
