<html>

<head>
<title>Signup</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href = 'public/assets/styles.css' rel='stylesheet' type =  'text/css'>

<script language="JavaScript" type="text/javascript" src="/controllers/signupController.js"></script>
<script language="JavaScript" type="text/javascript" src="/public/assets/signup.js"></script>

</head>

<body>
    <section style="align-self: center;" >
    <div>
<form id = 'myForm'> 
    <input type = 'text', name = 'username', id = 'username', placeholder = 'Username'>
    <input type = 'password', name = 'password', id = 'password' placeholder = 'Password'>
    <input type = 'password', name = 'confirmPassword', id = 'confirmPassword' placeholder = 'Confirm Password'>
    <div>
    
    <button type= 'submit' style="align-self: center;">
        Sign Up
    </button>
</div>
</section>

</form>
</div>

<section>
<div>
<p>Already have an account?</p>
<br>
<a href='/login'>Login</a>
</div>
</section>


<script language="JavaScript" type="text/javascript" src="/controllers/signupController.js"></script>
</body>
</html>
